name: Pro_Xiaomi_Fix_V5_4
on: 
  push:
    paths:
      - 'original.apk'
  workflow_dispatch: 

jobs:
  patch_process:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Download Tools
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download --repo LSPosed/LSPatch --pattern "*.jar" --output lspatch.jar
          gh release download --repo patrickfav/uber-apk-signer --pattern "*.jar" --output uber-apk-signer.jar

      - name: Inject Hook (L2 Bypass + Script)
        run: |
          # دمج ملف script.js مع تفعيل مستوى الحماية 2 لمنع الانهيار
          java -jar lspatch.jar original.apk -m script.js -l 2 -f -v
          
          PATCHED_NAME=$(find . -name "*-lspatched.apk" | head -n 1)
          mv "$PATCHED_NAME" ready_for_signing.apk

      - name: Professional Signing
        run: |
          rm -f original.apk
          # إعادة التوقيع لضمان عمل التطبيق بدون روت
          java -jar uber-apk-signer.jar --apks ready_for_signing.apk --allowResign --overwrite
          
      - name: Deliver Fixed APK
        uses: actions/upload-artifact@v4
        with:
          name: Spy-App-Xiaomi-Fix
          path: ./*.apk
