name: Pro_Final_Fix_V5_1
on: 
  push:
    paths:
      - 'original.apk'
  workflow_dispatch: 

jobs:
  patch_process:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Download Tools
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download --repo LSPosed/LSPatch --pattern "*.jar" --output lspatch.jar
          gh release download --repo patrickfav/uber-apk-signer --pattern "*.jar" --output uber-apk-signer.jar

      - name: Inject Hook (Local Mode)
        run: |
          # حقن الجاسوس في الملف الموجود بمستودعك
          java -jar lspatch.jar original.apk -l --force -v
          
          # البحث عن الملف الناتج وتسميته لضمان العثور عليه
          PATCHED_NAME=$(find . -name "*-lspatched.apk" | head -n 1)
          mv "$PATCHED_NAME" ready_for_signing.apk

      - name: Signing & Clean Up
        run: |
          # حذف الأصلي لتركيز التوقيع على الملف المعدل
          rm -f original.apk
          # إعادة التوقيع لإصلاح التوقيع المكسور
          java -jar uber-apk-signer.jar --apks ready_for_signing.apk --allowResign --overwrite
          
      - name: Deliver Fixed APK
        uses: actions/upload-artifact@v4
        with:
          name: Spy-App-Ready
          path: ./*.apk
